{{- if and .Values.compactor.enabled .Values.compactor.vpa.enabled (semverCompare ">=1.16-0" .Capabilities.KubeVersion.GitVersion) (.Capabilities.APIVersions.Has "autoscaling.k8s.io/v1/VerticalPodAutoscaler") }}
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: {{ include "thanos.compName" (list . "compactor") }}
  labels:
{{ include "thanos.labels" . | indent 4 }}
  annotations:
    {{- include "thanos.annotations" (dict "Values" .Values "component" "compactor") | nindent 4 }}
spec:
  targetRef:
    apiVersion: apps/v1
    kind: {{ .Values.compactor.vpa.targetKind | default "StatefulSet" }}
    name: {{ include "thanos.compName" (list . "compactor") }}
  updatePolicy:
    updateMode: {{ .Values.compactor.vpa.updateMode | default "Auto" }}
  resourcePolicy:
    containerPolicies:
      - containerName: thanos
        mode: Auto
        controlledResources: ["cpu", "memory"]
        minAllowed:
          cpu: {{ .Values.compactor.vpa.minAllowed.cpu | default "500m" }}
          memory: {{ .Values.compactor.vpa.minAllowed.memory | default "512Mi" }}
        maxAllowed:
          cpu: {{ .Values.compactor.vpa.maxAllowed.cpu | default "4" }}
          memory: {{ .Values.compactor.vpa.maxAllowed.memory | default "8Gi" }}
{{- else }}
{{- if and .Values.compactor.enabled .Values.compactor.vpa.enabled }}
{{- printf "# WARNING: VerticalPodAutoscaler CRD not detected on this cluster. Skipping VPA creation for compactor." }}
{{- end }}
{{- end }}
